* {
    margin: 0;
    padding: 0;
    outline: none;
  }
  
  :root {
    --main-color: #fff;
    --second-color: #347deb;
    --box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    --facebook-color: rgb(60, 90, 154);
    --google-color: rgb(220, 74, 61);
  }
  
  html {
    height: 100%;
  }
  body {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    font-family: sans-serif;
  }
  
  #container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-color);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    box-shadow: var(--box-shadow);
    transition-duration: 1s;
  }
  
  #left, #right {
    margin: auto;
    width: 95%;
    height: 96%;
    border-radius: 10px;
  }
  
  #left {
    background-image: url("images/right.avif");
    background-size: cover;
    background-position: center;
    box-shadow: var(--box-shadow);
  }

  #welcome, #lorem {
    margin: 10px;
    color:black;
    text-shadow: var(--box-shadow);
  }
  #welcome {
    font-size: 55px;
    font-weight: 300;
    margin-top: 90px;
    color:black;
    text-shadow: var(--box-shadow);
  }
  
  #login {
    padding-top: 100px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
    text-shadow: var(--box-shadow);
  }
  .client-info {
    display: block;
    margin: 20px auto;
    width:250px;
    height: 50px;
    border: solid #999 1px;
    border-radius: 5px;
    text-indent: 15px;
    transition: all 200ms;
    box-shadow: var(--box-shadow);
  }

  .client-info:focus {
    width: 310px;
  }

  label {
    position: absolute;
    margin: -76px 130px;
      font-size: 14px;
      white-space: nowrap;
      background: #fff;
      padding: 0 5px;
      color: #999;
    transition: all 200ms;
    text-shadow: var(--box-shadow);
  }
  #email:focus ~ label[for="email"] {
    margin: -76px 70px;
  }
  #password:focus ~ label[for="password"] {
    margin: -76px 70px;
  }
  #submit {
    text-decoration: none;
    border: none;
    background-color: #9055ff;
    color: white;
    width: 180px;
  }

  #submit:hover {
    background-color: #9b10d2;
  }
  
  @media (max-width: 650px) {
   
    #container {
      width: 350px;
      display: block;
    }
    #left {
      display: none;
    }
    #right {
      margin-top: 16px;
      background-size: cover;
      background-position: center;
      box-shadow: var(--box-shadow);
    }
  }
  
  /* @media (max-height: 850px) {
   
    #container {
      width: 800px;
      height: 600px;
    }
    #login {
      padding-top: 100px;
    }
    #welcome {
      margin-top: 240px;
      font-size: 60px;
    }
    #lorem {
      font-size: 15px;
    }
    
  } */